<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head.ejs') %>
  </head>

  <body>
    <%-include('includes/navigation.ejs') %>
    <main class="container">
      <form action="/" method="POST">
        <div class="row">
          <div class="col-12 mb-2">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="You'r Username" name="username" />
          </div>
          <div class="col-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </main>
    <%-include('includes/script.ejs') %>
  </body>
</html>
